<html>
<head>
<title>Health Score</title>
<link href='css/bootstrap.min.css' rel='stylesheet' type='text/css'>
<link href='font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css' />
<link rel='stylesheet' type='text/css' href='plugins/cubeportfolio/css/cubeportfolio.min.css'>
<link href='css/nivo-lightbox.css' rel='stylesheet' />
<link href='css/nivo-lightbox-theme/default/default.css' rel='stylesheet' type='text/css' />
<link href='css/owl.carousel.css' rel='stylesheet' media='screen' />
<link href='css/owl.theme.css' rel='stylesheet' media='screen' />
<link href='css/animate.css' rel='stylesheet' />
<link href='css/style.css' rel='stylesheet'>
<link id='bodybg' href='bodybg/bg1.css' rel='stylesheet' type='text/css' />
<link id='t-colors' href='color/default.css' rel='stylesheet'>
<script src='js/register.js'></script>
</head>

<body id='page-top' data-spy='scroll' data-target='.navbar-custom' onLoad="onCountry()">
<div id='wrapper'>
<nav class='navbar navbar-custom navbar-fixed-top' role='navigation'>
<div class='top-area'>
<div class='container'>
<div class='row'>
<div class='col-sm-6 col-md-6'>
<p class='bold text-left'>
  <script>
    document.write(new Date());
</script>
</p>
</div>
</div>
</div>
</div>
<div class='container navigation'>
  <div class='navbar-header page-scroll'>
  <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-main-collapse'>
  <i class='fa fa-bars'></i>
  </button>
  <a class='navbar-brand' href='/index'>
  <h3 class='h-ultra'>HEALTH SCORE DIETETICS</h3></a></div>
  <div class='collapse navbar-collapse navbar-right navbar-main-collapse'>
  <ul class='nav navbar-nav'>
  <li ><a href="/index">HOME</a></li>
  <li><a href='/practioner'> PRACTIONER SIGNUP</a></li>
  <li class='active'><a href='/patientsignup'>PATIENT SIGNUP</a></li>
  <li><a href='/forgotpassword'>FORGOT PASSWORD</a></li></ul></div>
</div></nav>


<section id='intro' class='intro'>
<div class='intro-content'>
<div class='container'>
  <% if(locals.message){%>
    <div class='row'>
        <div class="col-lg-12">
            
                <div class="alert alert-info alert-dismissible fade in" role="alert" style="text-align: center;">
                <strong> <%=message%> </strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
                        <span aria-hidden="true">&times;</span>
                      </button>
                      
                    </div>
            </div>
    </div>
    <%}%>
<div class='row'>
  
<div class='col-lg-6'>
<div class='form-wrapper'>
<div class='wow fadeInRight' data-wow-duration='2s' data-wow-delay='0.2s'>

<div class='panel panel-skin'>
<div class='panel-heading'>
<h3 style="color: white;" class='panel-title'><span class='fa fa-pencil-square-o'></span>Patient SignUp </h3>
</div>
<div class='panel-body'>
<form role='form' class='lead' class="needs-validation" name="register" action='/insertpatient'  method='post' >
<div class='row'>
<div class='col-xs-8 col-sm-8 col-md-8'>
<div class='form-group'>
  
<input type='text' name='user_name' id='user_name' placeholder='Enter UserName' class='form-control input-md' required>
</div>
</div>
</div>
<div class='row'>
<div class='col-xs-8 col-sm-8 col-md-8'>
<div class='form-group'>
<input type='text' name='first_name' id='first_name' placeholder='Enter FirstName' class='form-control input-md' required>
</div>
</div>
</div>

<div class='row'>
<div class='col-xs-8 col-sm-8 col-md-8'>
<div class='form-group'>
<input type='text' name='last_name' id='last_name' placeholder='Enter LastName' class='form-control input-md' required>
</div>
</div>
</div>

<div class='row'>
<div class='col-xs-8 col-sm-8 col-md-8'>
<div class='form-group'>
<input type='password' name='user_pwd' id='user_pwd' placeholder='Enter Password' class='form-control input-md' pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
</div>
</div>

</div>

<div class='row'>
<div class='col-xs-8 col-sm-8 col-md-8'>
<div class='form-group'>
<input type='tel' name='user_mobile' id='user_mobile' placeholder='Enter Mobile Number' class='form-control input-md' required>
</div>
</div>

</div>

<div class='row'>
<div class='col-xs-8 col-sm-8 col-md-8'>
<div class='form-group'>
<input type='email' name='user_email' id='user_email' placeholder='Enter Email Id' class='form-control input-md' required>
</div>
</div>

</div>


<div class='row'>
<div class='col-xs-8 col-sm-8 col-md-8'>
<div class='form-group'>
<input type='radio' name='user_gender' value='Male' required>Male <input type='radio' name='user_gender' value='Female' required>Female
</div>
</div>

</div>


</div>
</div>				

</div>
</div>



</div>
<div class='col-lg-6'>
<div class='form-wrapper'>
<div class='wow fadeInRight' data-wow-duration='2s' data-wow-delay='0.2s'>

<div class='panel panel-skin'>
<div class='panel-heading'>
<h3 class='panel-title' style="color: white;"><span class='fa fa-pencil-square-o'></span>Personal Details</h3>
</div>
<div class='panel-body'>

<div class='row'>
<div class='col-xs-4 col-sm-4 col-md-4'>
<div class='form-group'>
<select name='user_country' id='user_country' class='form-control input-md'  onChange='onPickCountry();' required >
<option value='0'>Select Country
</select>
</div></div>
<div class='col-xs-4 col-sm-4 col-md-4'>
<div class='form-group'>
<select name='user_state' id='user_state' class='form-control input-md'  onChange='onPickState();' required>
<option value='0'>Select State
</select>
</div>
</div>
<div class='col-xs-4 col-sm-4 col-md-4'>
<div class='form-group'>
<select name='user_city' id='user_city' class='form-control input-md' required >
<option value='0'>Select City
</select>
</div>
</div>
</div>

<div style="color: black;"  class='row'><div class='col-xs-8 col-sm-8 col-md-8'><div class='form-group'>
  <input type='date' name='appdate' id='appdate' class='form-control input-md' required></select>
  </div>

<div class='row'>
<div class='col-xs-12 col-sm-8 col-md-12'>
<div class='form-group'>
<textarea name='user_address' rows=5 cols=25 placeholder='Enter Address' class='form-control input-md' required></textarea>
</div>
</div>

</div>
<div class='row'>
  <div class='col-xs-8 col-sm-8 col-md-8'>

  </div>
  </div>
  
  </div>

<div class='row'>
<div class='col-xs-8 col-sm-8 col-md-8'>
<div class='form-group'>
<input type='checkbox' name='user_toc' value='toc' required>  Accept the terms and condtions
</div>
</div>

</div>






</div>
</div>				

</div>
</div>
</div>					
</div><br>

<input type='submit' value='SignUp' class='btn btn-skin btn-block btn-lg'>
</div>
<!--</div>
</section>



<footer>

<div class='container'>
<div class='row'>
<div class='col-sm-6 col-md-4'>
<div class='wow fadeInDown' data-wow-delay='0.1s'>
<div class='widget'>
<h5>About Health Score</h5>
<p style='text-align:justify;'>
HEALTH SCORE DIETETICS is developed to provide facilities for the customer to calculate health score and fix appointments at a single place.
</p>
</div>
</div>

</div>
<div class='col-sm-6 col-md-4'>
<div class='wow fadeInDown' data-wow-delay='0.1s'>
<div class='widget'>
<h5>Health Score Activities</h5>
<p style='text-align:justify;'>
They can calculate the different body activities like BMI, Heart rate, Blood Pressure, Walking steps, Calories count, Blood Glucose, Sleeping Time, Body Temperature, Oxygen intake, water intake
</p>
<ul>
<li>
<span class='fa-stack fa-lg'>
<i class='fa fa-circle fa-stack-2x'></i>
<i class='fa fa-calendar-o fa-stack-1x fa-inverse'></i>
</span> Monday - Saturday, 8am to 10pm
</li>
<li>
<span class='fa-stack fa-lg'>
<i class='fa fa-circle fa-stack-2x'></i>
<i class='fa fa-phone fa-stack-1x fa-inverse'></i>
</span> +91 9500 588 898
</li>
<li>
<span class='fa-stack fa-lg'>
<i class='fa fa-circle fa-stack-2x'></i>
<i class='fa fa-envelope-o fa-stack-1x fa-inverse'></i>
</span> info@livestreamtechnologies.co.in
</li>

</ul>
</div>
</div>
</div>
<div class='col-sm-6 col-md-4'>
<div class='wow fadeInDown' data-wow-delay='0.1s'>
<div class='widget'>
<h5>Our location</h5>
<p>Live Stream Technologies, Gandhipuram, Coimbatore-641020</p>		

</div>
</div>
<div class='wow fadeInDown' data-wow-delay='0.1s'>
<div class='widget'>
<h5>Follow us</h5>
<ul class='company-social'>
<li class='social-facebook'><a href='#'><i class='fa fa-facebook'></i></a></li>
<li class='social-twitter'><a href='#'><i class='fa fa-twitter'></i></a></li>
<li class='social-google'><a href='#'><i class='fa fa-google-plus'></i></a></li>
<li class='social-vimeo'><a href='#'><i class='fa fa-vimeo-square'></i></a></li>
<li class='social-dribble'><a href='#'><i class='fa fa-dribbble'></i></a></li>
</ul>
</div>
</div>
</div>
</div>	
</div>
<div class='sub-footer'>
<div class='container'>
<div class='row'>
<div class='col-sm-6 col-md-6 col-lg-6'>
<div class='wow fadeInLeft' data-wow-delay='0.1s'>
<div class='text-left'>
<p>&copy;Copyright <?php echo date("Y");?>  - HealthScore. All rights reserved.</p>
</div>
</div>
</div>
<div class='col-sm-6 col-md-6 col-lg-6'>
<div class='wow fadeInRight' data-wow-delay='0.1s'>
<div class='text-right'>
<p><a href='https://www.livestreamtechnologies.co.in/'>by Live Stream Technologies</p>
</div>

</div>
</div>
</div>	
</div>
</div>
</footer>-->

</div>
<a href='#' class='scrollup'><i class='fa fa-angle-up active'></i></a>


<script src='js/jquery.min.js'></script>	 
<script src='js/bootstrap.min.js'></script>
<script src='js/jquery.easing.min.js'></script>
<script src='js/wow.min.js'></script>
<script src='js/jquery.scrollTo.js'></script>
<script src='js/jquery.appear.js'></script>
<script src='js/stellar.js'></script>
<script src='plugins/cubeportfolio/js/jquery.cubeportfolio.min.js'></script>
<script src='js/owl.carousel.min.js'></script>
<script src='js/nivo-lightbox.min.js'></script>
<script src='js/custom.js'></script>


</body>

</html>

